<h1>Search results</h1>
<p><% nb_articles %> articles found</p>

<% FOREACH article IN articles %>
    <h2><a href="articles/<% article.link %>"><% article.title %></a></h2>
    <div class="entry">
        <% article.content %>
    </div>
<% END %>
